<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section class="card">
        <form action="transactions" method="POST">

            <!-- DEPARTMENT -->
            <label>Department</label>
            <select name="department_name" required>
                <option value="">--Please select a department--</option>
                <% itemBatchTransaction.forEach(dept => { %>
                <option value="<%= dept.name %>">
                    <%= dept.department_name %>
                </option>
                <% }) %>
            </select>

            <!-- Item Batch -->
            <label for="batch">Batch</label>
            <select name="batch" id="batch" required>
                <option value="">--Please select a batch--</option>
                <% itemBatchTransaction.forEach(function(row) { %>
                    <option value="<%= row.id %>"><%= row.batch_number %></option>
                <% }) %>                
            </select>

            <!-- Transaction type -->
            <label>Type</label>
            <select name="transaction_type" required>
                <option value="">--Please select a type--</option>
                <option>RECEIPT</option>
                <option>ISSUE</option>
                <option>ADJUSTMENT</option>
                <option>EXPIRED</option>
                <option>RETURN</option>
            </select>

            <!-- Quantity -->
            <label>Quantity</label>
            <input type="number" name="quantity" min="1" required placeholder="How many"/>

            <!-- Reason -->
            <label>Reason</label>
            <textarea name="reason"></textarea>

            <button type="submit">Submit</button>
        </form>
    </section>
</body>
</html>