<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section class="card">
        <form action="submit">
            <label for="item">Choose the Item</label>
            <select name="name " id="name">
                <option value="">--Please choose an option--</option>
                <% transaction.forEach(function(row) { %>
                    <option value="<%= row.id %>"><%= row.transaction_type %></option>
                <% }) %>
            </select>
        </form>
        <%=transaction[0].transaction_type%>
    </section>
</body>
</html>