<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section class="card">
        <h2 class="card-title">Edit Departments</h2>
        <div class="card-grid">
            <% departments.forEach(function(department) { %>
                <a href="/departmentsEdit/<%= department.id %>">
                    <div class="hover-card">
                        <p><%= department.name %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </section>

    <section class="card">
        <h2 class="card-title">Edit Categories</h2>
        <div class="card-grid">
             <% categories.forEach(function(category) { %>
                <a href="/categoriesEdit/<%= category.id %>">
                    <div class="hover-card">
                        <p><%= category.name %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </section>
</body>
</html>