<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header class="page-header">
        <h1>Edit</h1>
        <p class="subtitle">Edit and submit the details of </p>
    </header>
    <a href="/" class="back-link"> Back to Home</a>
<section class="form-group">
    <form action="/items/<%=item.id%>/edit" method="POST" class="lab-form">
        <button type="submit" class="primary-btn">Submit Edit</button>

    </form>
</section>
</body>
</html>